a {
    text-decoration: none;
}
.option-of-day p {
    margin: 23px 0;
    font-size: 20px;
}
.hour-button {
    display: flex;

    background-color: #E8833A;
    margin-right: 20px;
    font-size: 18px;
    width: 82px;
    height: 43px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}
.hour-button a {
    color: #fff;
}
section {
    display: flex;
}