header {
    background-color: #C3CFD9;
    width: 100vw;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
}

h1 {
    font-size: 34px;
    color: #E8833A;
}

.image-back {
    width: 20px;
    position: fixed;
    top: 22px;
    left: 10px;
}