.movie {
    width: 145px;
    height: 209px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 20px;
}

.movie img {
    width: 129px;
    height: 193px;
}